body {
    color: black;
    background-color: skyblue;
    margin: 10%;
    font-size: 110%;
  }

header {
    font-size: 400%;
}

footer {
    font-size: 70%;
}

article {
    
    padding-top: 30px;
    padding-bottom: 25px;
    
}

.storm {

    color: darkblue;
    padding: 30px;
} 

#cloud {
    color: darkslateblue;
}